/*HTML5 Reset*/
a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{ margin:0; padding:0; border:0; font-size:100%; font-weight:inherit; font-style:inherit; vertical-align:baseline}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ display:block}a,ins,del{ text-decoration:none}ul,ol{ list-style:none}table{ border-spacing:0; border-collapse:collapse}caption,th{ text-align:left}q:after,q:before{ content:”“}
/*End of HTML5 Reset*/

@font-face {
  font-family: 'DroidSansMono';
  src: url("DroidSansMono.ttf") format("truetype");
}


body {
	font-family: "Droid Sans Mono", DroidSansMono, Andale Mono, Courier New, Courier, monospace;
	font-size: 13px;
	line-height: 18px;
}
#single_loop {
    float: right;
}

#loops {
}

#main {
    float: left;
    width: 50%;
}

.source {
    white-space: pre;
    font-size: 15px;
}

.hidden {
    color: #aaa;
}

.visible {
    color: #0f0;
}

.operations {
    display: block;
    border: 1px solid #cacaca;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		
		-moz-box-shadow: 0px 0px 7px #cacaca;
		-webkit-box-shadow: 0px 0px 7px #cacaca;
		box-shadow: 0px 0px 7px #cacaca;
    margin-left: 100px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.single-operation {
    white-space: pre;
    margin-left: 10px;
}

.inlined_call {
    font-size: 15px;
    color: red;
	margin: 50px;
    font-weight: bold;
}

.dmp {
    font-weight: bold;
    margin-left: 30px;
    white-space: pre;
}

.guard {
    border: 1px solid #F00;
    margin-left: 13px;
	padding: 0 3px 1px 3px;
}