<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono&subset=latin' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <link rel="stylesheet" type="text/css" href="/static/pygments.css"/>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/jquery.scrollTo-1.4.2-min.js"></script>
  <script src="/static/script.js"></script>
  <script>
    $(document).ready(document_ready);
  </script>
</head>
<body>
  <header>
    <span>Menu</span><br/>
    <a href="#" onClick="toggle()">Toggle operations</a>
    <div id="callstack">
    </div>
  </header>
  <div id="loops">
    <ul>
      {% for is_entry_bridge, index, item in loops %}
      {% if is_entry_bridge %}
        <li><span>Entry bridge: <a href="#" onClick="show_loop({{index}})">{{item.repr()}}</a> run {{item.count}} times</span></li>
      {% else %}
        <li><span><a href="#" onClick="show_loop({{index}})">{{item.repr()}}</a> run {{item.count}} times</span></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div id="main">
  </div>
</body>
</html>
