<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <link rel="stylesheet" type="text/css" href="/static/pygments.css"/>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/jquery.scrollTo-1.4.2-min.js"></script>
  <script src="/static/script.js"></script>
  <script>
    $(document).ready(document_ready);
  </script>
</head>
<body>
  <div id="loops">
    <ul>
      {% for item in loops %}
      <li><a href="#" onClick="show_loop({{loop.index}})">{{item.repr()}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div id="main">
    Loop placeholder
  </div>
</body>
</html>
