<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <link rel="stylesheet" type="text/css" href="/static/pygments.css"/>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/jquery.scrollTo-1.4.2-min.js"></script>
  <script src="/static/script.js"></script>
  <script>
    $(document).ready(function() {
      $.scrollTo($("#line-{{startline}}"), 200);
    });
  </script>
</head>
<body>
  {% for sourceline in source.lines %}
     {% if sourceline.in_loop %}
         <div id="line-{{loop.index + source.firstlineno}}" class="source visible">{{sourceline.line}}</div>
         {% if sourceline.chunks %}
            <div class="operations">
                {% for chunk in sourceline.chunks %}
                   {% for op in chunk.operations[1:] %}
                      <span class="single-operation">{{op.repr() + "\n"}}</span>
                   {% endfor %}
                {% endfor %}
            </div>
         {% endif %}
     {% else %}
         <div id="line-{{loop.index + source.firstlineno}}" class="source hidden">{{sourceline.line}}</div>
     {% endif %}
  {% endfor %}
</body>
